<template name="tm_urls_thead">

    <tr class="tm-urls-thead">
        <td></td>
        <td>
            <div class="preamble">
                {{{ i18n key="records.properties.urls_preamble" }}}
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="tm-urls-tr">
        <td></td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th class="ui-w50">
                            <p class="header">{{ i18n key="records.properties.urls_label_th" }}</p>
                        </th>
                        <th><p class="spacing"></p></th>
                        <th class="ui-w50">
                            <p class="header">{{ i18n key="records.properties.urls_url_th" }}</p>
                        </th>
                        <th>
                            <button class="btn btn-sm btn-outline-primary ui-ml025 js-plus" title="{{ i18n key="records.properties.urls_add_title" }}" {{ plusDisabled }}>
                                <span class="fa-solid fa-fw fa-plus"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each it in itemsList }}
                        {{> tm_email_row (parmsRow it) }}
                    {{/each}}
                </tbody>
            </table>
        </td>
        <td></td>
    </tr>

</template>
