<template name="TenantRecordPropertiesPanel">
    <div class="TenantRecordPropertiesPanel">

        <table class="form-table ui-w100">
            <tr class="tr-label">
                <td class="label"><label class="form-label" for="{{ itFor "label" }}">{{ i18n key="records.properties.label_label" }}</label></td>
                <td class="ui-w80">
                    <div class="ui-w100 js-label">
                        <input class="form-control" type="text" id="{{ itFor "label" }}" placeholder="{{ i18n key="records.properties.label_ph" }}" title="{{ i18n key="records.properties.label_title" }}" />
                    </div>
                </td>
                <td class="ui-w20"></td>
            </tr>
            {{#if haveDedicatedUrls }}
                <tr class="tr-home">
                    <td class="label"><label class="form-label" for="{{ itFor "home" }}">{{ i18n key="records.properties.home_label" }}</label></td>
                    <td class="ui-w80">
                        <div class="ui-w100 js-home">
                            <input class="form-control" type="url" id="{{ itFor "home" }}" placeholder="{{ i18n key="records.properties.home_ph" }}" title="{{ i18n key="records.properties.home_title" }}" />
                        </div>
                    </td>
                    <td></td>
                </tr>
            {{/if}}
            <tr class="tr-logo">
                <td class="label"><label class="form-label" for="{{ itFor "logo" }}">{{ i18n key="records.properties.logo_label" }}</label></td>
                <td class="ui-w80">
                    <div class="ui-w100 js-logo">
                        <input class="form-control" type="url" id="{{ itFor "logo" }}" placeholder="{{ i18n key="records.properties.logo_ph" }}" title="{{ i18n key="records.properties.logo_title" }}" />
                    </div>
                </td>
            </tr>
            {{#if haveDedicatedEmails }}
                <tr class="tr-contact-email">
                    <td class="label"><label class="form-label" for="{{ itFor "contact_email" }}">{{ i18n key="records.properties.contact_email_label" }}</label></td>
                    <td class="ui-w80">
                        <div class="ui-w100 js-contact-email">
                            <input class="form-control" type="email" id="{{ itFor "contact_email" }}" placeholder="{{ i18n key="records.properties.contact_email_ph" }}" title="{{ i18n key="records.properties.contact_email_title" }}" />
                        </div>
                    </td>
                </tr>
            {{/if}}

            {{#if haveGeneralizedUrls }}
                {{> tm_urls_thead (parmsUrls) }}
            {{/if}}

            {{#if haveGeneralizedEmails }}
                {{> tm_emails_thead (parmsEmails) }}
            {{/if}}
        </table>

    </div>
</template>
