<template name="entity_properties_pane">
    <div class="entity-properties-pane">

        <table class="form-table">
            <tr>
                <td class="label"><label class="form-label" for="entity-label">{{ i18n key="entities.edit.label_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-label" type="text" id="entity-label" placeholder="{{ i18n key="entities.edit.label_ph" }}" title="{{ i18n key="entities.edit.label_help" }}" value="{{ label }}" />
                </td>
            </tr>
        </table>

    </div>
</template>
