<template name="tm_record_properties_pane">
    <div class="c-record-properties-pane">

        <table class="form-table ui-w100">
            <tr class="tr-home">
                <td class="label"><label class="form-label" for="{{ itFor "home" }}">{{ i18n key="records.properties.home_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-home">
                        <input class="form-control" type="url" id="{{ itFor "home" }}" placeholder="{{ i18n key="records.properties.home_ph" }}" title="{{ i18n key="records.properties.home_title" }}" />
                    </div>
                </td>
                <td></td>
            </tr>
            <tr class="tr-label">
                <td class="label"><label class="form-label" for="{{ itFor "label" }}">{{ i18n key="records.properties.label_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-label">
                        <input class="form-control" type="text" id="{{ itFor "label" }}" placeholder="{{ i18n key="records.properties.label_ph" }}" title="{{ i18n key="records.properties.label_title" }}" />
                    </div>
                </td>
                <td></td>
            </tr>
            <tr class="tr-pdmp">
                <td class="label"><label class="form-label" for="{{ itFor "pdmp" }}">{{ i18n key="records.properties.pdmp_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-pdmp">
                        <input class="form-control" type="url" id="{{ itFor "pdmp" }}" placeholder="{{ i18n key="records.properties.pdmp_ph" }}" title="{{ i18n key="records.properties.pdmp_title" }}" />
                    </div>
                </td>
                <td rowspan="4">
                    {{> ImageIncluder (parmsImage) }}
                </td>
            </tr>
            <tr class="tr-gtu">
                <td class="label"><label class="form-label" for="{{ itFor "gtu" }}">{{ i18n key="records.properties.gtu_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-gtu">
                        <input class="form-control" type="url" id="{{ itFor "gtu" }}" placeholder="{{ i18n key="records.properties.gtu_ph" }}" title="{{ i18n key="records.properties.gtu_title" }}" />
                    </div>
                </td>
            </tr>
            <tr class="tr-legals">
                <td class="label"><label class="form-label" for="{{ itFor "legals" }}">{{ i18n key="records.properties.legals_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-legals">
                        <input class="form-control" type="url" id="{{ itFor "legals" }}" placeholder="{{ i18n key="records.properties.legals_ph" }}" title="{{ i18n key="records.properties.legals_title" }}" />
                    </div>
                </td>
            </tr>
            <tr class="tr-logo">
                <td class="label"><label class="form-label" for="{{ itFor "logo" }}">{{ i18n key="records.properties.logo_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-logo">
                        <input class="form-control" type="url" id="{{ itFor "logo" }}" placeholder="{{ i18n key="records.properties.logo_ph" }}" title="{{ i18n key="records.properties.logo_title" }}" />
                    </div>
                </td>
            </tr>
            <tr class="tr-contact-url">
                <td class="label"><label class="form-label" for="{{ itFor "contact_url" }}">{{ i18n key="records.properties.contact_url_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-contact-url">
                        <input class="form-control" type="url" id="{{ itFor "contact_url" }}" placeholder="{{ i18n key="records.properties.contact_url_ph" }}" title="{{ i18n key="records.properties.contact_url_title" }}" />
                    </div>
                </td>
                <td></td>
            </tr>
            <tr class="tr-contact-email">
                <td class="label"><label class="form-label" for="{{ itFor "contact_email" }}">{{ i18n key="records.properties.contact_email_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-contact-email">
                        <input class="form-control" type="email" id="{{ itFor "contact_email" }}" placeholder="{{ i18n key="records.properties.contact_email_ph" }}" title="{{ i18n key="records.properties.contact_email_title" }}" />
                    </div>
                </td>
                <td></td>
            </tr>
            <tr class="tr-support-url">
                <td class="label"><label class="form-label" for="{{ itFor "support_url" }}">{{ i18n key="records.properties.support_url_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-support-url">
                        <input class="form-control" type="url" id="{{ itFor "support_url" }}" placeholder="{{ i18n key="records.properties.support_url_ph" }}" title="{{ i18n key="records.properties.support_url_title" }}" />
                    </div>
                </td>
                <td></td>
            </tr>
            <tr class="tr-support-email">
                <td class="label"><label class="form-label" for="{{ itFor "support_email" }}">{{ i18n key="records.properties.support_email_label" }}</label></td>
                <td class="ui-w60">
                    <div class="ui-w100 js-support-email">
                        <input class="form-control" type="email" id="{{ itFor "support_email" }}" placeholder="{{ i18n key="records.properties.support_email_ph" }}" title="{{ i18n key="records.properties.support_email_title" }}" />
                    </div>
                </td>
                <td></td>
            </tr>
        </table>

    </div>
</template>
