<template name="TenantEditPanel">
    <div class="TenantEditPanel">

        {{> entity_edit (parmsEntityEdit) }}

        {{> ValidityTabbed (parmsValidities) }}

        {{> FormsMessager (parmsMessager) }}

        {{#unless isModal }}
            {{#if isNew }}
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary js-create" type="button">{{ i18n key="panel.create_btn" }}</button>
                </div>
            {{/if}}
        {{/unless}}

    </div>
</template>
