<template name="tm_email_row">

    <tr class="tm-email-row" data-item-id="{{ this.it._id }}">
        <td><input class="form-control js-label" type="text" {{ readonly }} placeholder="{{ i18n key="records.properties.emails_label_ph" }}" /></td>
        <td></td>
        <td><input class="form-control js-email" type="email" {{ readonly }} placeholder="{{ i18n key="records.properties.emails_email_ph" }}" /></td>
        <td>
            {{#if editing }}
                <button class="btn btn-sm btn-outline-primary ui-ml025 js-minus" title="{{ i18n key="records.properties.emails_remove_title" }}" {{ minusEnabled }} >
                    <span class="fa-solid fa-fw fa-minus"></span>
                </button>
            {{/if}}
        </td>
    </tr>

</template>
