<template name="record_properties_pane">
    <div class="record-properties-pane">

        <table class="form-table">
            <tr>
                <td class="ui-w20 label"><label class="form-label" for="record-properties-label">{{ i18n key="records.properties.label_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control flex-grow-1 js-label" type="text" id="record-properties-label" placeholder="{{ i18n key="records.properties.label_ph" }}" title="{{ i18n key="records.properties.label_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-pdmp">{{ i18n key="records.properties.pdmp_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-pdmp" type="text" id="record-properties-pdmp" placeholder="{{ i18n key="records.properties.pdmp_ph" }}" title="{{ i18n key="records.properties.pdmp_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-gtu">{{ i18n key="records.properties.gtu_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-gtu" placeholder="{{ i18n key="records.properties.gtu_ph" }}" title="{{ i18n key="records.properties.gtu_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-legals">{{ i18n key="records.properties.legals_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-legals" placeholder="{{ i18n key="records.properties.legals_ph" }}" title="{{ i18n key="records.properties.legals_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-home">{{ i18n key="records.properties.home_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-home" placeholder="{{ i18n key="records.properties.home_ph" }}" title="{{ i18n key="records.properties.home_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-support-url">{{ i18n key="records.properties.support_url_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-support-url" placeholder="{{ i18n key="records.properties.support_url_ph" }}" title="{{ i18n key="records.properties.support_url_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-contact-url">{{ i18n key="records.properties.contact_url_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-contact-url" placeholder="{{ i18n key="records.properties.support_url_ph" }}" title="{{ i18n key="records.properties.contact_url_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-support-email">{{ i18n key="records.properties.support_email_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-support-email" placeholder="{{ i18n key="records.properties.support_email_ph" }}" title="{{ i18n key="records.properties.support_email_title" }}" />
                </td>
            </tr>
            <tr>
                <td class="label"><label class="form-label" for="record-properties-contact-email">{{ i18n key="records.properties.contact_email_label" }}</label></td>
                <td class="ui-w100">
                    <input class="form-control js-gtu" type="text" id="record-properties-contact-email" placeholder="{{ i18n key="records.properties.support_email_ph" }}" title="{{ i18n key="records.properties.contact_email_title" }}" />
                </td>
            </tr>
        </table>

    </div>
</template>
